* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bgcolor: #1c3334;
    --grey: #2f4454;
    --pink: #da7b93;
    --green: #376e6f; 
}

body {
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

header h1 {
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    font-size: 21px;
}